{% extends 'base.html'%}
{% load static %}


{% block title %}About{% endblock title %}

{% block content %}
<h1>About</h1>
<p> Based in Bali, Indonesia, TJ is a passionate aspiring coder and a dedicated family man. With a love for football, especially the Las Vegas Raiders, and a keen interest in web development, he is currently learning to connect front-end and back-end technologies. He dreams of investing in international real estate and mastering multiple skills, including Spanish, SEO automation, and guitar.</p>
<img src="{% static 'img/maxxcrosby.jpg' %}"
{% endblock content %}